<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>happy-chat-electron</title>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
  </head>
  <body>
    <div id="app"></div>

    <script src="http://at.alicdn.com/t/font_1083780_i6lfaa73b0i.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>

    <!-- Set `__static` path to static files in production -->
    <% if (!process.browser) { %>
      <script>
        if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')

         const socketWeb = io('http://chat.chengxinsong.cn');
         const userInfo = JSON.parse(localStorage.getItem("HappyChatUserInfo"))
         if (userInfo) {
            socket.emit('update', userInfo.user_id);
         }

      </script>
    <% } %>

    <!-- webpack builds are automatically injected -->
  </body>
</html>
